<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" />

<title>Change Your Password</title>
</head>
<body>


	<!-- 	<container> -->
	<div class="mainPanel">
		<h1> Change Your Password </h1>

		<div th:if="${param.success}">
			<div class="alert alert-info">Profile updated!</div>
		</div>
		<div th:if="${param.error}">
			<div class="alert alert-danger">Server error!</div>
		</div>


		<form name="editForm" th:object="${clinicAdminChangePassword}">
		
			<div class="form-group" 
				th:classappend="${#fields.hasErrors('oldPassword')}? 'has-error':''">
				<div class="input-group">
					<span class="input-group-addon"> <i
						class="glyphicon glyphicon-lock"></i>
					</span> <input id="oldPassword" class="form-control" placeholder="Type in your old password"
						type="password" th:field="*{oldPassword}" />
				</div>
				<ul class="text-left" th:each="error: ${#fields.errors('oldPassword')}">
					<li th:each="message : ${error.split(',')}">
						<p class="error-message" th:text="${message}"></p>
					</li>
				</ul>
			</div>
			
			<div class="form-group"
				th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
				<div class="input-group">
					<span class="input-group-addon"> <i
						class="glyphicon glyphicon-lock"></i>
					</span> <input id="password" class="form-control" placeholder="Type in your new password"
						type="password" th:field="*{password}" />
				</div>
				<ul class="text-left" th:each="error: ${#fields.errors('password')}">
					<li th:each="message : ${error.split(',')}">
						<p class="error-message" th:text="${message}"></p>
					</li>
				</ul>
			</div>

			<div>
				<input class="submitButton" type="submit" value="Submit">
				<a class="button" href="../clinicAdminHome">Go Home</a>
			</div>
		</form>
	</div>
	   <br/>
    <br/>

	<!-- 	</container> -->


	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
 		<script type="text/javascript" th:src="@{/js/checkIfClinicAdminWithoutPasswordCheck.js}"></script>
	<script type="text/javascript" th:src="@{/js/changeClinicAdminPassword.js}"></script>

</body>
</html>