<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/tabulator/dist/css/tabulator_modern.min.css/}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>



<title>Checkup Type Manager</title>


</head>

<body>
	<!-- 	<container> -->
	<div class="mainoptions">
		<div style="width: 40%; float:left;">
			<div id="ctTable"></div>
		</div>
    	<div style="width: 50%; float:right;">
    		<div>
    			<p>
	    			<a href="../addCt">Add New Checkup Type</a>
					<br />
					<a id="editCt" href="#">Edit Selected Checkup Type</a>
					<br />
					<a id="deleteCt" href="#">Delete Selected Checkup Type</a>
					<br />
				</p>
				<br/>
				<h3>Find A Checkup Type</h3>
				<p>
					<input type="text" placeholder="Checkup Type Name" id="ctName"/><br />
					<input type="text" placeholder="Checkup Type Price" id="ctPrice"/><br />
				</p>
				<p>
					<button id="findCtBtn" type=button name="findCtBtn">Find Checkup Type</button>
				</p>
			</div>
			<div>
				<h3>Checkup Type Details</h3>
				<div id="foundCtTable"></div>
			</div>
		</div>
	</div>
	<!--
	<div class="mainoptions">
	   	<a href="../registerDoctor">Add New Doctor</a>
	    <br/>
	</div>
	-->

	<!-- 	</container> -->


	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/tabulator/dist/js/tabulator.min.js/}"></script>

	<script type="text/javascript" th:src="@{/js/checkIfClinicAdmin.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/checkupTypeManager.js}"></script>
</body>
</html>