<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}"/>

    <title>Clinic Manager</title>
</head>
<body>


	<!-- 	<container> -->
	<div class="mainPanel">
		<h1> Clinic Manager </h1>
		<h3 id="yourClinic">Your clinic is ... </h3>
		<h3 id="clinicDescription">Description: ...</h3>
		<h3 id="clinicLocation">Its address is ... </h3>
		<br/>
		<a class="button" href="../clinicBasicInfo">Update Clinic Basic Info</a>
		<br />
		<a class="button" href="../registerMedicalCheckup">Create a New Medical Checkup</a>
		<br />
		<a class="button" href="../checkupRequestManager">Manage Requested Medical Checkups</a>
		<br />
		<a class="button" href="../doctorManager">Manage Doctors</a>
		<br/>
    	<a class="button" href="../vacationRequestsPendingForApproval">Manage Vacation Requests</a>
		<br />
		<a class="button" href="../roomManager">Manage Rooms</a>
		<br />
		<a class="button" href="../checkupTypeManager">Manage Checkup Types</a>
	</div>
    <br/>
    

    
	<!-- 	</container> -->


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/checkIfClinicAdmin.js}"></script>
<script type="text/javascript" th:src="@{/js/clinicManager.js}"></script>
</body>
</html>