<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/tabulator/dist/css/tabulator_modern.min.css/}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>



<title>Doctor Manager</title>


</head>

<body>
	<!-- 	<container> -->
	<div id="doctorTable"></div>
	<br/>
	<div>
		<div style="width: 50%; float:left;">
			<a href="../registerDoctor">Add New Doctor</a>
			<br />
			<a id="deleteDoctor" href="#">Delete Selected Doctor</a>
		</div>
    	<div style="width: 50%; float:right;">
    		<div style="width: 40%; float:left;">
				<h3>Find A Doctor</h3>
				<p>
					<input type="text" placeholder="First Name" id="pFirstName"/><br />
					<input type="text" placeholder="Last Name" id="pLastName"/><br />
					<input type="text" placeholder="Rating" id="pRating"/><br />
				</p>
				<p>
					<button id="findPatientsBtn" type=button name="findPatientsBtn">Find Doctor</button>
				</p>
			</div>
			<div style="width: 60%; float:right;">
				<h3>Doctor Details</h3>
				<div id="foundDoctorTable"></div>
			</div>
		</div>
	</div>
	<!--
	<div class="mainoptions">
	   	<a href="../registerDoctor">Add New Doctor</a>
	    <br/>
	</div>
	-->

	<!-- 	</container> -->


	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/tabulator/dist/js/tabulator.min.js/}"></script>

	<script type="text/javascript" th:src="@{/js/checkIfClinicAdmin.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/doctorManager.js}"></script>
</body>
</html>