<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}"/>
    <title>Update Checkup Type </title>
  </head>
  <body>
 	<div class="mainPanel">
	    <h1> Update Checkup Type </h1>
	    <p>
	    	Edit the name and price of a checkup type.<br/>
	    </p>
	    
	    		<div th:if="${param.success}">
			<div class="alert alert-info">Profile updated!</div>
		</div>
		<div th:if="${param.error}">
			<div class="alert alert-danger">Server error!</div>
		</div>


		<form name="editCtForm">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"> <i
						class="glyphicon glyphicon-user color-blue"></i>
					</span> <input id="name" class="form-control" placeholder="Checkup type name" required />
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"> <i
						class="glyphicon glyphicon-user color-blue"></i>
					</span> <input id="price" class="form-control" placeholder="Checkup type price" required />
				</div>
			</div>
			
			<div>
				<input class="submitButton" type="submit" value="Submit">
			</div>
		</form>
	    <br/>
    </div>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/checkIfClinicAdmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/editCheckupType.js}"></script>
  </body>
</html>