<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/tabulator/dist/css/tabulator_modern.min.css/}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}"/>



<title>Room Manager</title>


</head>

<body>
	<!-- 	<container> -->
	<div class="mainPanel">
		<h1>Rooms List</h1>
		<div>
			<div style="width: 40%; float:left;">
				<div id="roomTable"></div>
			</div>
	    	<div style="width: 50%; float:right;">
	    		<div>
		    			<a class="button" href="../roomManager">Manage Rooms</a>
					<br/>
					<h3>Find A Room</h3>
					<p>
						
						Room Name or Number: <input type="text" placeholder="Room Name" id="rNameOrNum"/><br />
						Reservation Date: <br/><input type="date" placeholder="Reservation Date" id="rDate"/><br />
					</p>
					<p>
						<a href="#" class="button" id="findRoomNameBtn" type=button name="findRoomNameBtn">Find By Room Name</a>
						<a href="#" class="button" id="findRoomNumBtn" type=button name="findRoomNumBtn">Find By Room Number</a>
					</p>
				</div>
			</div>
		</div>
		<div style="padding-top: 390px;">
			<div style="width: 40%; float:left;">
				<h3 id="roomsFreeOn">Rooms free on ...</h3>
				<div id="foundRoomTable"></div>
				<br/>
			</div>
			<div style="width: 50%; float:right;">
				<h3 id="busyDatesFor">Busy dates for ...</h3>
				<div id="busyDatesTable"></div>
			</div>
		</div>
		<div style="padding-top: 300px;">
		<a href="#" class="submitButton" id="chooseRoomDateBtn" name="chooseRoomDateBtn">Submit Room and Reservation Date</a>
		</div>
	</div>
	<!--
	<div class="mainoptions">
	   	<a href="../registerDoctor">Add New Doctor</a>
	    <br/>
	</div>
	-->

	<!-- 	</container> -->


	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/tabulator/dist/js/tabulator.min.js/}"></script>

	<script type="text/javascript" th:src="@{/js/checkIfClinicAdmin.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/findRoomForCheckup.js}"></script>
</body>
</html>