<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}"/>
    
<title>You Are Not Authorized</title>
</head>
<body>
	<div class="mainPanel">
		<div>
			<h1> You Are Not Authorized To View This Page </h1>
		</div>
		<div>
			<p> 
				You tried going on a page which you don't have permission to access.<br/>
			</p>
			<h2> What can I do then? </h2>
			<p>
				Well, you can <a href="../home">go back to the home page</a>.<br/>
				Or you can try to <a id="logout" href="../whatAreYou">login with a different account</a>.<br />
				(WARNING: clicking this link will log you out)<br />
			</p>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/notAuthorized.js}"></script>
</body>
</html>