<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/tabulator/dist/css/tabulator_modern.min.css/}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}"/>

    <title>User Profile</title>
</head>
<body>


	<!-- 	<container> -->
	<div class="mainPanelLarge">
		<h1> User Profile </h1>
		<h3 id="firstName">First name: ... </h3>
		<h3 id="lastName">Last name: ...</h3>
		<h3 id="country">Country: ... </h3>
		<h3 id="city">City: ... </h3>
		<h3 id="street">Street: ...</h3>
		<h3 id="phone">Phone: ... </h3>
		<h3 id="jmbg">JMBG: ...</h3>
		<h3 id="email">Email ... </h3>
		<br/>
		<a class="button" href="#" id="medicalRecord">Check Medical Record</a>
		
		<h3>Reserved medical checkups you have with this patient</h3>
		<div id="mcTable"></div>
		<br/>
		<div>
			<h3>Press this button to begin the checkup you've selected.</h3>
			<button class="submitButton" id="beginCheckupBtn" type=button name="beginCheckupBtn">Begin Checkup</button>
		</div>
		
		<!-- 
		<a href="#" id="medicalRecord">Check Medical Record</a>
		<br />
		-->
	</div>
    <br/>
    

    
	<!-- 	</container> -->


	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/tabulator/dist/js/tabulator.min.js/}"></script>
		
<script type="text/javascript" th:src="@{/js/checkIfDoctor.js}"></script>
<script type="text/javascript" th:src="@{/js/userProfile.js}"></script>
</body>
</html>